
/* App.css */
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.background {
  background: white; /* White background for the content area */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar {
  font-family: Arial, sans-serif; /* Optional: change the font */
}

.react-calendar__tile {
  background: rgb(255, 255, 255); /* Change tile background to white */
  color: black; /* Change tile text color to black */
}

.react-calendar__tile--active {
  background: lightblue; /* Change background color of the active tile */
  color: black; /* Change text color of the active tile */
}

.react-calendar__tile--hover {
  background: lightgrey; /* Change background color of hovered tiles */
  color: rgb(0, 0, 0); /* Change text color of hovered tiles */
} 

.react-calendar__month-view__days__day--weekend {
  color: red; /* Change weekend text color to red */
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: gray;
}

.react-calendar__navigation__arrow {
  color: black;
}

.react-calendar__navigation__label {
  color: black;
}

.input-container {
  margin-top: 20px;
}

.input-container h2 {
  margin-bottom: 10px;
}

.input-container input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.input-container button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.input-container button:hover {
  background-color: #45a049;
}
